body{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background-image: url('https://www.fillmurray.com/300/200');
    background-repeat: no-repeat;
}

header > h1{
    margin: 0 auto;
    height: 33vh;
    text-align: center;
}

main{
    height: 33vh;
    flex: 1 0 auto;
}

footer{
    background-color: grey;
    height: 33vh;
    width: 100vw;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: center;
}

.two-panel{
    display: inline-flex;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

.game-board{
	width: 600px;
	height: 600px;
	margin: 0 auto;
    background-color: orange;
    color: #fff;
    border: 6px solid orange;
    border-radius: 10px;
	display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    float:left;
}

.box{
    border: 5px solid darkgray;
    border-radius: 4%;
    background-color: grey;
    text-align: center;
    vertical-align: middle;
    font-size: 45px;
}

#output{
    margin: 0 auto;
    height: 10vh;
    width: 100%;
    background-color: lightgrey;
    text-align: center;
    display: inline-block;
}

#calculator{
    margin: 0 auto;
}

#operators{
    float: left;
}